# Eclipse
.project
.classpath
.settings/

# Build
bin/
dist/
*.class

# Eclipse cache
.indexes/
.location
.markers
.markers.snap
.syncinfo.snap
org.eclipse.jdt.core/
org.eclipse.jdt.apt.core/

# OS
desktop.ini

*.pdf